<div>
	Main Page
</div>
<form method="POST" action="page/create">
	{% csrf_token %}
	<input name="city"><br>
	<input name="country"><br>
	<input name="population"><br>
	<input type="submit" value="Add"><br>
</form>
<form method="POST" action="page/delete">
	{% csrf_token %}
	<input name="id"><br>
	<input type="submit" value="Delete"><br>
</form>
<form method="POST" action="page/update">
	{% csrf_token %}
	<input name="id"><br>
	<input name="city"><br>
	<input name="country"><br>
	<input name="population"><br>
	<input type="submit" value="Update"><br>
</form>
<table border="1">
	<tr>
    	<td>Id</td>
    	<td>City</td>
    	<td>Country</td>
    	<td>Population</td>
	</tr>
	{% for i in data %}
	<tr>
    	<td>{{ i.id }}</td>
    	<td>{{ i.city }}</td>
    	<td>{{ i.country }}</td>
    	<td>{{ i.population }}</td>
	</tr>
	{% endfor %}
</table>
